<div class="container mt-5 p-3 col-md-4 col-8 d-flex justify-content-center card shadow need-validation">

    <form ngNativeValidate (ngSubmit)='signup()'
        oninput='confirmPass.setCustomValidity(confirmPass.value != pass.value ? "password doesnt match" : "")'>

        <h2 class="text-center">Sign Up</h2>

        <div class="form-group">
            <label>First name</label> <input [(ngModel)]=seeker.firstName name="fn" class="form-control" type="text"
                required>
        </div>

        <div class="form-group">
            <label>Last name</label> <input [(ngModel)]=seeker.lastName name="ln" class="form-control" type="text"
                required>
        </div>
        <div class="form-group">
            <label>Email</label> <input [(ngModel)]=seeker.email name="mail" class="form-control" type="text" required>
        </div>
        <div class="form-group">
            <label>Password</label> <input [(ngModel)]=user.password name="pass" class="form-control" type="password"
                required>
        </div>

        <div class="form-group">
            <label>Confirm Password</label> <input name="confirmPass" class="form-control" type="password" required>
        </div>

        <div class="form-group">
            <label>Phone Number</label> <input [(ngModel)]=seeker.phoneNumber name="phoneNo" class="form-control"
                type="number" required>
        </div>

        <div class="form-group">
            <label>City</label> <input [(ngModel)]=seeker.city name="cityName" class="form-control" type="text"
                required>
        </div>

        <br>




        <div class="border-top my-3"></div><br>
        <h2>Education Details</h2><br>

        <div>

            <div >
                <table class="table table-light">
                    <thead>
                        <tr>
                            <th>Degree</th>
                            <th>University</th>
                            <!-- <th>Percentage</th> -->
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let e of educations'>
                            <td>{{e.degree}}</td>
                            <td>{{e.university}}</td>
                            <td><button class="align-right" (click)='removeEduation(e)' class="btn-primary"><i class="fa fa-trash"
                                aria-hidden="true"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>
        <div class="text-center mt-3">

            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#addEducation">Add
                Education</button>
        </div>
        <br>
        <br>




        Have Previous Work Experience?

        <div class="form-check">
            <input (click)='setWorkExperience(false)' class="form-check-input" type="radio" name="exampleRadios"
                id="exampleRadios2" value="option1" checked>
            <label class="form-check-label" for="exampleRadios2">
                No
            </label>
        </div>
        <div class="form-check">
            <input (click)='setWorkExperience(true)' class="form-check-input" type="radio" name="exampleRadios"
                id="exampleRadios1" value="option2">
            <label class="form-check-label" for="exampleRadios1">
                Yes
            </label>
        </div>


        <div *ngIf='isWorkExperience'>

            <div class="border-top my-3"></div><br>
            <h2>WorkExperience Details</h2><br>

            <div >
                <table class="table table-light">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Organization</th>
                            <th>Remove</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr *ngFor='let e of workExperiences'>
                            <td>{{e.jobTitle}}</td>
                            <td>{{e.company}}</td>
                            <td><button class="align-right" (click)='removeWorkExperience(e)' class="btn-primary"><i class="fa fa-trash"
                                aria-hidden="true"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <div class="text-center mt-3">
                
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#addWorkExperience">Add
                    WorkExperience</button>
            </div>
            <br>
            <br>
        </div>




        <div class="border-top my-3"></div><br>
        <h2>Skills</h2><br>

        <div *ngFor='let skill of skillNames'>
            <div *ngIf="skill.length > 0">
                <ul>
                    <li>
                        <button (click)='removeSkill(skill)' class="btn btn-primary"> <i class="fa fa-trash"
                                aria-hidden="true"></i></button>
                        {{skill}}
                    </li>
                </ul>



            </div>
        </div>

        <!-- <form ngNativeValidate  class="form-group"> -->


        <div class="form-group">
            <label>Skill Name</label> <input required [(ngModel)]=skillName name="skillNm" class="form-control"
                type="text">
        </div>

        <br>


        <div class="text-center ">

            <input type="submit" (click)='addSkill()' name="inSkill" value="Add"
                class="btn btn-primary rounded-pill form-control">

        </div>


        <br>
        <br>

        <!-- </fcorm> -->



        <div class="border-top my-3"></div><br>

        <div class="text-center ">

            <input type="submit" [disabled]='isValid()' data-toggle="tooltip"
                title="Please fill skill and education details" class="btn btn-primary rounded-pill form-control"
                name="subMain" value="Register Now">
        </div>

    </form>
</div>




















<div id="addEducation" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Education Details</h4>
            </div>
            <div class="modal-body">



                <form (submit)='addEducation(education)' ngNativeValidate>

                    <div class="form-group">
                        <label>Degree</label> <input [(ngModel)]=education.degree name="inDegree" class="form-control"
                            type="text" required>
                    </div>

                    <div class="form-group">
                        <label>College or University</label> <input [(ngModel)]=education.university name="inUniversity"
                            class="form-control" type="text" required>
                    </div>

                    <div class="form-group">
                        <label>Field of Study </label> <input [(ngModel)]=education.field name="inField"
                            class="form-control" type="text" required>
                    </div>

                    <div class="form-group">
                        <label>City</label> <input [(ngModel)]=education.city name="inEduCity" class="form-control"
                            type="text" required>
                    </div>

                    <div class="form-group">
                        <label>Year</label> <input [(ngModel)]=education.endDate name="inYear" class="form-control"
                            type="date" required=required>
                    </div>

                    <br>
                    <button type="submit" class="btn btn-primary rounded-pill form-control">Add Education</button>
                </form>


            </div>
            <div class="modal-footer">
                <button type="button" id="closeEdu" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>




















<div id="addWorkExperience" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Work Experience Details</h4>
            </div>
            <div class="modal-body">


                <form (submit)='addWorkExperience()' ngNativeValidate>


                    <div class="form-group">
                        <label>Job Title</label> <input [(ngModel)]=workExperience.jobTitle name="inWorkExperience"
                            class="form-control" type="text" required>
                    </div>

                    <div class="form-group">
                        <label>Company</label> <input [(ngModel)]=workExperience.company name="inCompany"
                            class="form-control" type="text" required>
                    </div>

                    <div class="form-group">
                        <label>City</label> <input [(ngModel)]=workExperience.city name="inWorkCity"
                            class="form-control" type="text" required>
                    </div>

                    <div class="form-group">
                        <label>Year</label> <input [(ngModel)]=workExperience.startDate name="inWorkYear"
                            class="form-control" type="date" required>
                    </div>

                    <div class="form-group">
                        <label>Description</label> <textarea [(ngModel)]=workExperience.description name="textarea"
                            class="form-control" type="text"></textarea>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary rounded-pill form-control">Add Work Experience</button>
                </form>



            </div>
            <div class="modal-footer">
                <button id="closeWork" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>