
    <div class="container mt-5 p-3 col-md-5 col-6 d-flex justify-content-center card shadow need-validation">

        <form ngNativeValidate (ngSubmit)='signup()' oninput='confirmPass.setCustomValidity(confirmPass.value != pass.value ? "Passwords do not match." : "")'>

            <h2 class="text-center">Sign Up</h2>

            <div class="form-group">
                <label>First Name</label> <input [(ngModel)]=employer.firstName name="fname" class="form-control"
                    type="text" required>
            </div>
            <div class="form-group">
                <label>Last Name</label> <input [(ngModel)]=employer.lastName name="lname" class="form-control"
                    type="text" required>
            </div>

            <div class="form-group">
                <label>Company Name</label> <input [(ngModel)]=employer.companyName name="companyName" class="form-control"
                    type="text" required>
            </div>

            <div class="form-group">
                <label>Email Address</label> <input [(ngModel)]=employer.email name="email" class="form-control"
                    type="email" required>
            </div>

            <div class="form-group">
                <label>Password</label> <input [(ngModel)]=user.password name="pass" class="form-control"
                    type="password" required>
            </div>

            <div class="form-group">
                <label>Confirm Password</label> <input name="confirmPass" class="form-control"
                    type="password" required>
            </div>


            <button type="submit" class="btn btn-primary rounded-pill form-control">Sign Up</button>

        </form>
    </div>


    